<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FH</title>
</head>
<body>
    
    <nav>
        <img src="\static\img\fk.png" height="80px">
      <div class="logo">
      </div> 
      <ul>
        <li><a href="/universitas">HOME</a></li>
        <li><a href="/profil">PROFIL</a></li>
        <li><a href="/faperta">FAPERTA</a></li>
        <li><a href="/feb">FEB</a></li>
        <li><a href="/fh">FH</a></li>
        <li><a href="/fisip">FISIP</a></li>
        <li><a href="/fk">FK</a></li>
        <li><a href="/fkip">FKIP</a></li>
        <li><a href="/ft">FT</a></li>
        <li><a href="/pascasarjana">PASCASARJANA</a></li>
        <li><a href="/dosen">DOSEN</a></li>
        <li><a href="/mahasiswa">MAHASISWA</a></li>
        <li><a href="/tendik">TENDIK</a></li>
      </ul>
    </nav>

    
</body>
<br>
<br>
<br>
<br>
<body>
    <center>
    <font face="Sketchzone" size="26">
    <p>FAKULTAS HUKUM</p>
    </font>
    <img src="\static\img\fhrbg.png" height="300px">
    <br>
    <font face="STZhongsong">
    <h1>SEJARAH</h1>
    </font>
    <font face="JMH Typewriter">
    <p style="text-align: justify;">Fakultas Hukum Universitas Sultan Ageng Tirtayasa Banten berdiri tahun 1981, tepatnya pada tanggal 1 Oktober 1981 dengan status sebagai STIH Serang yan bertempat di Kresidenan Banten, Jl. K.H. Sam’un dan merupakan embrio lahirnya Universitas Sultan Ageng Tirtayasa Banten. Mulai tahun 1984, STIH Serang di integrasi sesuai dengan SK Mendikbud No. 0596/0/1984, menjadi Fakultas Hukum Universitas Sultan Ageng Tirtayasa Banten, yang bertempat di Jl. Raya Jakarta KM. 4 Pakupatan – Serang.</p>
    <p style="text-align: justify;">Fakultas Hukum pada tahun 1994 memperoleh status terdaftar berdasarkan SK Mendikbud No. 0597/0/1984. Pada tahun 1994 Fakultas Hukum kembali memperoleh status penetapan terdaftar kembali berdasarkan SK Ditjen Pendidikan Tinggi No. 059/Dikti/Kep./1994. Pada tahun 2000 Fakultas Hukum memperoleh status terakreditasi dengan peringkat B, berdasarkan SK BAN-PT No. 19/BAN-PT/AK-IV/VIII/2000, dengan adanya SK Akreditasi tersebut maka Fakultas Hukum dapat menyelenggarakan proses pembelajaran secara mandiri.</p>
    <p style="text-align: justify;">Pada tahun 2001 status Fakultas Hukum menjadi Fakultas Hukum dari Universitas Sultan Ageng Tirtayasa Banten dengan Status Negeri, berdasarkan Kepres No. 32/2001, hingga saat ini dan beralamat di Jl. Raya Jakarta KM. 4 Pakupatan–Serang. Saat ini  fakultas Hukum terakreditasi peringkat B berdasarkan SK. No. 186/SK/BAN-PT/Ak-SURV/S/VI/2014 tertanggal 28 Juni 2014.</p>
    <p style="text-align: justify;">Fakultas Hukum Universitas Sultan Ageng Tirtayasa (FH Untirta) saat ini telah berupaya menata diri menjadikan dirinya salah satu Perguruan Tinggi Negeri yang dikenal pada skala nasional. Dalam Perjalanannya sebagai Perguruan Tinggi Negeri yang baru beralih dari PTS pada tahun 2001, Fakultas Hukum Untirta telah banyak melakukan perubahan dengan mengacu pada sistem pengelolaan Perguruan Tinggi Negeri.</p>
    <p style="text-align: justify;">Perbaikan proses dan kualitas pembelajaran serta mutu lulusan merupakan prioritas utama yang dilakukan pada saat ini. Sejalan dengan tuntutan masyarakat akan mutu lulusan yang semakin tinggi, Fakultas Hukum Universitas Sultan Ageng Tirtayasa berusaha untuk tetap menjaga kualitas proses belajar mengajar yang menjadi tugas utamanya melalui pengelolaan lembaga yang efektif dan efisien.</p>
    </font>
    </center>
</body>
<br>
<body>
    <center>
    <font face="STZhongsong">
    <h1>VISI</h1>
    </font>
    <font face="JMH Typewriter">
    <p>Mewujudkan Fakultas Hukum Untirta yang Unggul, Berbasis Kearifan Lokal, dan Berdaya Saing untuk Mendukung Untirta Sebagai Universitas Terintegrasi yang Cerdas dan Berkelanjutan di Asia Tenggara Tahun 2030.</p>
    </font>
    </center>
</body>
<br>
<body>
    <center>
    <font face="STZhongsong">
    <h1>MISI</h1>
    </font>
    </center>
    <font face="JMH Typewriter">
    <li>Meningkatkan Kualitas Lulusan Fakultas Hukum yang Unggul, Berkarakter dan Berdaya Saing Di Tingkat Nasional dan Asia Tenggara.</li>
    <li>Meningkatkan Kualitas Dosen Fakultas Hukum dalam Penelitian dan Pengabdian Di Tingkat Nasional dan Asia Tenggara.</li>
    <li>Meningkatkan Daya Mutu Akademik dan Prinsip – Prinsip Tata Kelola Fakultas serta Menjamin Peningkatan Akreditasi Institusi.</li>
    </font>
</body>
<br>
<body>
    <center>
    <font face="STZhongsong">
    <h1>TUJUAN</h1>
    </font>
    </center>
    <font face="JMH Typewriter">
    <li>Menghasilkan lulusan sarjana hukum yang mampu bekerjasama dalam masyarakat untuk memecahkan permasalahan-persoalan-persoalan hukum berdasarkan perkembangan zaman.</li>
    <li>Menghasilkan lulusan yang memiliki keterampilan kemahiran hukum serta mengedepankan kebermanfaatan dalam pembangunan nasional.</li>
    <li>Menghasilkan kinerja dosen dan tenaga pendidik yang bermutu dan berkompeten.</li>
    <li>Menghasilkan penelitian dan pengabdian yang dapat dimanfaatkan oleh para pemangku kepentingan.</li>
    <li>Menghasilkan publikasi dosen yang bertaraf nasional dan ASEAN.</li>
    <li>Menghasilkan sistem monitoring dan evaluasi tata kelola dalam peningkatan akreditasi fakultas.</li>
    </font>
</body>
<br>
<body>
    <center>
    <font face="STZhongsong">
    <h1>SASARAN</h1>
    </font>
    </center>
    <font face="JMH Typewriter">
    <li>Meningkatkan kualitas lulusan fakultas hukum yang unggul, berkarakter dan berdaya saing di nasional dan ASEAN.</li>
    <li>Meningkatkan kualitas dosen dalam penelitian dan pengabdian di tingkat nasional dan ASEAN.</li>
    <li>Meningkatkan daya mutu akademik dan tata kelola fakultas berdasarkan prinsip-prinsip <i>Good Faculty Governance</i> serta menjamin peningkatan akreditasi institusi.</li>
    </font>
</body>
<br>
<body>
    <center>
    <font face="STZhongsong">
    <h1>PROGRAM KERJA</h1>
    </font>
    </center>
    <font face="JMH Typewriter">
    <li>Penciptaan suasana kampus ilmiah, menjunjung kebersamaan dan religius.</li>
    <li>Peningkatan mutu dan daya saing dosen dan staf.</li>
    <li>Menjalin kerjasama dengan stakeholders untuk mempercepat kemajuan fakultas.</li>
    <li>Pelaksanaan efektivitas, efisiensi, trasparansi dan akuntabilitas program.</li>
    <li>Peningkatan mutu, relevansi dan daya saing pembelajaran, penelitian serta pengabdian kepada masyarakat.</li>
    <li>Peningkatan kreativitas, prestasi dan karakter mahasiswa.</li>
    </font>
</body>
<br>
<body>
    <center>
    <font face="STZhongsong">
    <h1>Terdiri dari prodi</h1>
    </font>
    <font face="JMH Typewriter">
    <p>Hukum</p>
    </font>
    </center>
</body>
</html>

<style>
    body {
    background-image: linear-gradient(to right, #E3CAA5, #E3CAA5);
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
}

nav {
    top: 0;
    left: 0;
    position: fixed;
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.9);
    border-bottom: 1px solid white;
}

.logo {
    float: left;
    height: 10px;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    padding: 20px 20px;
    justify-content: space-around;
}

nav ul {
    margin: 0;
    padding: 0;
    float: right;
    list-style: none;
    display: flex;
}

nav ul li a {
    font-size: 15px;
    font-weight: bold;
    color: white;
    line-height: 80px;
    text-decoration: none;
    padding: 12px 20px;
    font-family: monospace;
}

nav ul li a:hover {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.8);
}
</style>