<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FKIP</title>
</head>
<body>
    <h1>FAKULTAS KEGURUAN DAN ILMU PENDIDIKAN</h1>
    <h2>Terdiri dari prodi</h2>
    <p>Bimbingan dan Konseling, Pendidikan Bahasa Inggris, Pendidikan Bahasa Indonesia, Pendidikan Biologi, Pendidikan Fisika, Pendidikan Guru Pendidikan Anak Uaia Dini, Pendidikan Guru Sekolah Dasar, Pendidikan Ilmu Pengetahuan Alam, Pendidikan Kimia, Pendidikan Khusus, Pendidikan Nonformal, Pendidikan Matematika, Pendidikan Pancasila dan Kewarganegaraan, Pendidikan Sejarah, Pendidikan Seni Pertunjukan, Pendidikan Sosiologi, Pendidikan Vokasional Teknik Elektro, dan Pendidikan Vokasional Teknik</p>
    
</body>
</html>