<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROFIL</title>
</head>
<body>
    <center>
    <h1>PROFIL</h1>
    <img src="\static\img\profil.png" height="350px">
    <h3>Nama : Salma Putri Nabila</h3>
    <h3>NIM : 2225210034</h3>
    <h3>Jurusan : Pendidikan Matematika</h3>
    <h3>Alamat : Griya Cilegon Blok G2 No.21, Kec. Kramatwatu, Kab. Serang, Banten</h3>
    </center>
</body>
</html>

<style>
    body {
      background-image: linear-gradient(to right, #E3CAA5, #E3CAA5);
      margin-left: 50px;
      margin-right: 50px;
      padding: 0;
  }