<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FISIP</title>
</head>
<body>
    
    <nav>
        <img src="\static\img\fk.png" height="80px">
      <div class="logo">
      </div> 
      <ul>
        <li><a href="/universitas">HOME</a></li>
        <li><a href="/profil">PROFIL</a></li>
        <li><a href="/faperta">FAPERTA</a></li>
        <li><a href="/feb">FEB</a></li>
        <li><a href="/fh">FH</a></li>
        <li><a href="/fisip">FISIP</a></li>
        <li><a href="/fk">FK</a></li>
        <li><a href="/fkip">FKIP</a></li>
        <li><a href="/ft">FT</a></li>
        <li><a href="/pascasarjana">PASCASARJANA</a></li>
        <li><a href="/dosen">DOSEN</a></li>
        <li><a href="/mahasiswa">MAHASISWA</a></li>
        <li><a href="/tendik">TENDIK</a></li>
      </ul>
    </nav>

    
</body>
<br>
<br>
<br>
<br>
<body>
    <center>
    <font face="Sketchzone" size="26">
    <p>FAKULTAS ILMU SOSIAL POLITIK</p>
    </font>
    <img src="\static\img\fisip.png" height="300px">
    <br>
    <font face="STZhongsong">
    <h1>SEJARAH</h1>
    </font>
    <font face="JMH Typewriter">
    <p style="text-align: justify;">Pada saat Universitas Sultan Ageng Tirtayasa (Untirta) sedang mempersiapkan pengalihan status negeri secara utuh dan menyeluruh dengan ditandainya pengalihan aset dan pengelolaan sumber daya dari Yayasan Pendidikan Tirtayasa kepada pemerintah yang dilaksanakan paling lama dalam kurun waktu tiga tahun. Maka pada tanggal 10 Juni 2003 dikeluarkan Surat Keputusan dari DIRJEN DIKTI DEPDIKNAS dengan nomor 1179/D/ T/2003 tentang izin operasional program studi Ilmu Administrasi Negara dan Ilmu Komunikasi, seiring dengan operasional program studi maka Fakultas Ilmu Sosial dan Ilmu Politik didirikan pada tahun akademik 2002/2003  yang mendapat legitimasi menjadi bagian dari Untirta dengan surat keputusan nomor 124/0/2004 sesuai dengan SOTK.</p>
    <p style="text-align: justify;">Pada tanggal 1 Februari 2006 telah dikeluarkan SK No. 295/D/T/2006 tentang Perpanjangan izin penyelenggaraan Program studi  Ilmu Administrasi Negara dan Ilmu Komunikasi selama 4 tahun FISIP Untirta terus berpacu dan berkembang untuk berusaha mensejajarkan diri dengan fakultas yang lebih dulu berdiri dengan mengeluarkan jurus-jurus strategis baik dibidang pendidikan, pengajaran, pengabdian masyarakat, sarana dan prasarana sebagai wujud dari Tri Dharma Perguruan Tinggi. Hal ini dibuktikan dengan diselenggarakan berbagai kegiatan dan beberapa sarana untuk meningkatkan kualitas baik dosen, mahasiswa maupun karyawan.</p>
    </font>
    </center>
</body>
<br>
<body>
    <center>
    <font face="STZhongsong">
    <h1>VISI</h1>
    </font>
    <font face="JMH Typewriter">
    <p>Menjadikan FISIP Untirta Sebagai Pelopor Integrated, Smart and Green University yang Unggul, Berkarakter dan Berdaya Saing di kawasan ASEAN pada bidang kajian Ilmu Sosial dan Ilmu Politik 2030.</p>
    </font>
    </center>
</body>
<br>
<body>
    <center>
    <font face="STZhongsong">
    <h1>MISI</h1>
    </font>
    </center>
    <font face="JMH Typewriter">
    <li>Menyelaraskan proses pendidikan dengan sistem pembelajaran daring Indonesia dan bahan ajar berbasis riset, serta kurikulum berorientasi industri 4.0.</li>
    <li>Membangun kemitraan strategis dengan institusi nasional dan internasional dalam kegiatan <i>applied research</i> dan publikasi ilmiah dengan <i>Open Journal System</i> dan bereputasi pada bidang Administrasi Publik, Ilmu Komunikasi, dan Ilmu Pemerintahan.</li>
    <li>Menyelenggarakan pengabdian masyarakat sesuai bidang ilmu yang mendorong kemampuan adaptasi dan inovasi tepat guna masyarakat untuk menjawab persoalan bangsa.</li>
    <li>Modernisasi manajemen data pendidikan, penelitian dan pengabdian masyarakat serta penunjang pelayanan kemahasiswaan berbasis digital.</li>
    </font>
</body>
<br>
<body>
    <center>
    <font face="STZhongsong">
    <h1>TUJUAN</h1>
    </font>
    </center>
    <font face="JMH Typewriter">
    <li>Menghasilkan lulusan yang memiliki kualitas dan berdaya saing, unggul serta berkarakter Jujur, Adil, Wibawa, Amanah, Religisu dan Akuntabel.</li>
    <li>Meningkatkan kompetensi tenaga pendidik/dosen dalam proses belajar mengajar yang bermutu, berkarakter serta penguasaan dan pemahaman dalam bidang kajian yang ditekuni.</li>
    <li>Menyelenggarakan dan meningkatkan kualitas pembelajaran yang bermutu dan berdaya saing.</li>
    <li>Mendorong terciptanya academic atmosphere yang berorientasi lokal, nasional dan internasional serta orientasi pada berkembangnya kerjasamanya antara tenaga pendidik, mahasiswa dan tenaga kependidikan.</li>
    <li>Meningkatkan budaya meneliti dan menulis bagi dosen dan mahasiswa.</li>
    <li>Meningkatkan jumlah riset dosen berskala nasional dan internasional.</li>
    <li>Meningkatkan jumlah publikasi dan hak kekayaan intelektual dosen nasional dan internasional.</li>
    <li>Meningkatkan kualitas riset dosen dan mahasiswa sebagai bahan rujukan bagi pemerintah daerah dan swasta dalam memecahkan persoalan sosial dan politik di masyarakat.</li>
    <li>Menerapkan hasil-hasil riset dosen bagi pengembangan dan pemberdayaan masyarakat serta sebagai upaya memecahkan persoalan kemasyarakatan.</li>
    <li>Meningkatkan kegiatan akademis yang ditujukan untuk masyarakat luas di luar kampus.</li>
    <li>Meningkatkan keterlibatan program studi dalam aktivitas pemberdayaan masyarakat.</li>
    <li>Menjalin kemitraan/kerjasama dalam bidang Tridharma Perguruan tinggi dengan perguruan tinggi lain baik skala local, nasional dan internasional.</li>
    <li>Menjalin kerjasama dengan pemerintah daerah, dunia usaha dan industri dalam pengembangan keilmuan serta upaya pemecahaan masalah kemasyarakat di bidang sosial dan politik.</li>
    <li>Mengembangkan jaringan kerjasama internasional dengan perguruan tinggi atau program studi di luar negeri yang sudah maju.</li>
    <li>Membuka jaringan kerjasama nasional dan internasional yang mengarah kepada bidang pengembangan akademik dan penelitian.</li>
    </font>
</body>
<br>
<body>
    <center>
    <font face="STZhongsong">
    <h1>STRUKTUR ORGANISASI</h1>
    </font>
    <img src="\static\img\struktur-fisip.png" height="500px">
    </center>
</body>
<br>
<body>
    <center>
    <font face="STZhongsong">
    <h1>Terdiri dari prodi</h1>
    </font>
    <font face="JMH Typewriter">
    <p>Administrasi Publik</p>
    <p>Ilmu Komunikasi</p>
    <p>Ilmu Pemerintahan</p>
    </font>
    </center>
</body>
</html>

<style>
    body {
    background-image: linear-gradient(to right, #E3CAA5, #E3CAA5);
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
}

nav {
    top: 0;
    left: 0;
    position: fixed;
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.9);
    border-bottom: 1px solid white;
}

.logo {
    float: left;
    height: 10px;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    padding: 20px 20px;
    justify-content: space-around;
}

nav ul {
    margin: 0;
    padding: 0;
    float: right;
    list-style: none;
    display: flex;
}

nav ul li a {
    font-size: 15px;
    font-weight: bold;
    color: white;
    line-height: 80px;
    text-decoration: none;
    padding: 12px 20px;
    font-family: monospace;
}

nav ul li a:hover {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.8);
}
</style>