<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FK</title>
</head>
<body>
    <center>
    <h1>FAKULTAS KEDOKTERAN</h1>
    <img src="\static\img\fk.png" height="300px">
    <br>
    <h2>SEJARAH</h2>
    <p style="text-align: justify;">Program Studi S1 Pendidikan Dokter Universitas Sultan Ageng Tirtayasa (PSPD UNTIRTA) merupakan satu-satunya program studi pendidikan dokter Perguruan Tinggi Negeri (PTN) yang terletak di Provinsi Banten. PSPD UNTIRTA berdiri sejak tahun 2019 dengan kampus utamanya berada di Kawasan Industri Cilegon Banten. Program studi ini merupakan wujud kepedulian UNTIRTA terhadap kesehatan dan pemenuhan kebutuhan dokter di Indonesia, khususnya provinsi Banten.</p>
    <p style="text-align: justify;">Sasaran PSPD UNTIRTA adalah menghasilkan dokter layanan primer dengan keunggulan di bidang okupasi yang berkarakter dan berdaya saing di kawasan ASEAN, dengan memberikan pengalaman belajar yang baik untuk mencapai standar kompetensi dokter dan membangun rumah sakit pendidikan serta jejaringnya di wilayah provinsi banten. PSPD UNTIRTA juga memiliki tujuan untuk meningkatkan taraf kesehatan masyarakat dengan menjamin penyelengaraan suatu pendidikan kedokteran yang mempunyai  pengetahuan, keterampilan, dan sikap untuk melakukan profesi kedokteran dalam suatu sistem pelayanan yang sesuai dengan kebijaksanaan umum pemerintah sehingga, nantinya pendidikan kedokteran akan membekali lulusan dengan pengetahuan yang menyeluruh tentang kedokteran dan kesehatan.</p>
    <p style="text-align: justify;">Dalam mencapai sasaran dan tujuannya PSPD UNTIRTA di ampu oleh Fakultas Kedokteran Universitas Indonesia (FK UI), dengan standar yang sama yang diberlakukan di FK UI, sehingga nantinya diharapkan lulusan PSPD UNTIRTA dapat bersaing dan setara dengan lulusan kedokteran universitas ternama di Indonesia.</p>
    </center>
</body>
<br>
<body>
    <center>
    <h2>VISI</h2>
    <p>Menjadi Program studi Pendidikan Dokter yang  Integrated Smart and Green (It’s Green) Berkarakter dan Berdaya Saing di kawasan ASEAN tahun 2030 dengan fokus pada bidang kedokteran okupasi.</p>
    </center>
</body>
<br>
<body>
    <center>
    <h2>MISI</h2>
    </center>
    <li>Menghasilkan dokter layanan primer dengan keunggulan di bidang okupasi yang berkarakter dan berdaya saing di kawasan ASEAN.</li>
    <li>Melaksanakan penelitian dan pengabdian kepada masyarakat dalam bidang kesehatan dengan keuanggulan di bidang okupasi.</li>
    <li>Mewujudkan pengelolaan Prodi Pendidikan Dokter yang baik sebagai implementasi dari <i>integrated smart and green (it’s green) faculty.</i></li>
    <li>Bersinergi dengan pemerintah Banten dalam memajukan pembangunan bidang kesehatan provinsi Banten.</li>
    <li>Membangun rumah sakit pendidikan dan jejaringnya di wilayah provinsi banten.</li>
</body>
<br>
<body>
    <center>
    <h2>TUJUAN</h2>
    </center>
    <li>Mewujudkan program studi pendidikan dokter yang bermutu dalam melayani tri dharma perguruan tinggi dan berdaya saing di kawasan ASEAN dengan keunggulan pada bidang kedokteran okupasi.</li>
    <li>Mewujudkan dosen dan pegawai yang kompeten dan produktif.</li>
    <li>Menghasilkan lulusan yang unggul, berkarakter dan berdaya saing di kawasan ASEAN serta profesional dan memiliki keahlian yang handal.</li>
    <li>Menghasilkan produktifitas penelitian dan pengabdian masyarakat yang tinggi yang bersifat penemuan maupun pengembangan dalam bidang kesehatan.</li>
    <li>Menghasilkan publikasi dosen yang bereputasi internasional.</li>
    <li>Menghasilkan hilirisasi riset yang dapat dimanfaatkan para pemangku kepentingan.</li>
    <li>Menghasilkan sistem monitoring dan evaluasi tata kelola yang berkelanjutan.</li>
    <li>Menghasilkan daya dukung sarana dan prasarana yang terintegrasi, smart dan green campus.</li>
    <li>Menghasilkan inovasi layanan kesehatan sebagai bagian dari solusi pembangunan kesehatan.</li>
    <li>Menyajikan data dan pengetahuan yang dapat dijadikan dasar pertimbangan dalam pengambilan keputuan bidang kesehatan.</li>
    <li>Menghasilkan kerjasama dengan rumah sakit jejaring yang mutual di bidang pendidikan kedokteran dan layanan kesehatan.</li>
    <li>Mendirikan rumah sakit pendidikan utama sebagai sarana pendidikan dan pelayanan kesehatan provinsi banten.</li>
</body>
<br>
<body>
    <center>
    <h2>Terdiri dari prodi</h2>
    <p>Keperawatan</p>
    <p>Ilmu Keolahragaan</p>
    <p>Gizi</p>
    <p>Kedokteran</p>
    </center>
</body>
</html>

<style>
    body {
      background-image: linear-gradient(to right, #E3CAA5, #E3CAA5);
      margin-left: 50px;
      margin-right: 50px;
      padding: 0;
    }